<!DOCTYPE html>
<html
    lang="ja"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <title>Customers</title>
    <link rel="stylesheet" media="all" th:href="@{/css/customers.css}" />
    <!-- local プレビュー用 -->
    <!-- <link rel="stylesheet" media="all" href="../static/css/style.css" />
    <link rel="stylesheet" media="all" href="../static/css/customers.css" /> -->
</head>
<body>
<div layout:fragment="content" class="content">
    <div>
    <form action="#" th:action="@{/customers/execute}" th:object="${form}" method="POST">
    <table id="formTable">
    <tr>
        <th><label for="number">Number</label></th>
        <td><input type="text" th:field="*{number}" th:readonly="true"></td>
    </tr>
    <tr>
        <th><label for="id">ID</label></th>
        <td><input type="text" th:field="*{id}"></td>
    </tr>
    <tr>
        <th><label for="password">Password</label></th>
        <td><input type="text" th:field="*{password}"></td>
    </tr>
    <tr>
        <th><label for="name">Name</label></th>
        <td><input type="text" th:field="*{name}"></td>
    </tr>
    <tr>
        <th><label for="prefecture">Prefecture</label></th>
        <td><input type="text" th:field="*{prefecture}"></td>
    </tr>
    <tr>
        <th><label for="city">City</label></th>
        <td><input type="text" th:field="*{city}"></td>
    </tr>
    <tr>
        <th><label for="phone">Phone</label></th>
        <td><input type="text" th:field="*{phone}"></td>
    </tr>
    </table><br>
    <table id="buttonTable"><tr>
        <th><input type="submit" name="showAllCustomer" value="全件表示"></th>
        <th><input type="submit" name="searchCutomer" value="検索"></th>
        <th><input type="submit" name="addCustomer" value="追加"></th>
        <th><input type="submit" name="editCustomer" value="変更実行"></th>
    </tr></table>
    </form>
    </div>

    <table id="listTable">
    <tr>
        <th>Number</th>
        <th>ID</th>
        <th>Password</th>
        <th>name</th>
        <th>Prefecture</th>
        <th>city</th>
        <th>phone</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:if="${list}!=null" th:each="cust, itr : ${list}">
    <form action="#" th:action="@{/customers/execute}" th:object="${cust}" method="POST">
        <td><input type="text" name="number" th:value="${cust.number}" th:readonly="true"/></td>
        <td><input type="text" name="id" th:value="${cust.id}" th:readonly="true"/></td>
        <td><input type="text" name="password" th:value="${cust.password}" th:readonly="true"/></td>
        <td><input type="text" name="name" th:value="${cust.name}" th:readonly="true"/></td>
        <td><input type="text" name="prefecture" th:value="${cust.prefecture}" th:readonly="true"/></td>
        <td><input type="text" name="city" th:value="${cust.city}" th:readonly="true"/></td>
        <td><input type="text" name="phone" th:value="${cust.phone}" th:readonly="true"/></td>
        <td class="buttonTd"><input type="submit" name="setCustomerForm" value="変更"></td>
        <td class="buttonTd"><input type="submit" name="deleteCustomer" value="削除"></td>
    </form>
    </tr>
    </table>
</div>
</body>
</html>